.box{
    background: teal;
    color: white;
    margin: 10px;
    height: 20px;
    padding: 20px;
    text-align: center;
    display: none;
}
@media (max-width:200px){
    #box1{
        display: block;
    }
}
