
a:link {
    color: rgb(224, 108, 108);
  }
  
  a:visited {
    color: rgb(132, 190, 132);
  }
  
  a:hover {
    color: rgb(172, 122, 147);
  }
  
  a:active {
    color: rgb(103, 103, 134);
  }
  .box{
      background-color: cadetblue;
  }
  .box:hover{
      color: white;
      background-color: rgb(165, 135, 79);
  }
  p::after{
      content: "  i am from shriffle";
  }
  p::before{
      content: "Good Morning! ";
  }
  p::first-letter{
      font-style: italic;
      font-weight: bolder;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(165, 135, 79);
  }
  ::marker{
      color: red;
  }
  ::selection {
      color: rgb(151, 98, 98);
      background: rgb(235, 202, 96);
}